# Praktikum Pembelajaran Mesin Lanjutan 2022

Asisten Laboratorium:<br><br>
<font size='6'> <b> GARY ALVARO </b> </font> <br>
<b> Teknologi Informasi - 2018 <b>
<br><br>
    
<b><i>Keep Contact</i></b>
<ul>
    <li>Whatsapp: <a href="https://wa.me/6282369573355"> 082369573355 </a></li>
    <li>Instagram: <a href="https://instagram.com/gary_alvaro"> gary_alvaro </a></li>
    <li>Line: garyalvaro </li>
</ul>

### PERATURAN LAB
<ul>
    <li>Kehadiran Minimal 80% (Maksimal 2X absen).</li>
    <li>Izin tidak hadir langsung chat ke abang dengan menyertakan data diri: Nama, NIM, Trip(1 atau 2), dan Alasan.</li>
    <li>Keterlambatan maksimal 10 menit agar tidak mengganggu praktikum.</li>
    <li>Saling menghargai dan tidak membuat keributan.</li>
    <li>Dilarang menduplikasi tugas teman.</li>
    <li>Materi Praktikum bisa dilihat dan didownload dari Github (<a href="https://github.com/garyalvaro/lab_pml">github.com/garyalvaro/lab_pml</a>) </li>
</ul>

### PENILAIAN
<ul>
    <li>Kehadiran: <b>10%</b></li>
    <li>Quiz (Teori): <b>20%</b></li>
    <li>Ujian (Praktek): <b>30%</b></li>
    <li>Tugas Mingguan: <b>40%</b></li>
</ul>

### DATA PRAKTIKAN LAB PML 2022

In [1]:
import pandas as pd
df = pd.read_excel('LabPML2022.xlsx')

In [2]:
df.head()

         NIM                           Nama  Trip
0  191402001            Masayu Fany Shapura     1
1  191402007  Zen Petrix Diaz Sentana Tanto     1
2  191402015                   Nanda Amelia     1
3  191402028                  Tazrian Husna     1
4  191402034       Muhammad Firdaus Zamzami     1

In [3]:
n = df['NIM'].count()
print('Total Praktikan =', n)

Total Praktikan = 66

In [4]:
# Filter Data Praktikan Trip 1
df[df['Trip']==1]

          NIM                                Nama  Trip
0   191402001                 Masayu Fany Shapura     1
1   191402007       Zen Petrix Diaz Sentana Tanto     1
2   191402015                        Nanda Amelia     1
3   191402028                       Tazrian Husna     1
4   191402034            Muhammad Firdaus Zamzami     1
5   191402035            Fenni Kristiani Sarumaha     1
6   191402042  Putri Laura Latersia Br. L. Tobing     1
7   191402045                         Sri Wahyuni     1
8   191402056                 Davin Guntur Habibi     1
9   191402046           Riyadh Abdur Razak Ridwan     1
10  191402058                   Chrismario Linear     1
11  191402059                             Michael     1
12  191402065        Geylfedra Matthew Panggabean     1
13  191402076                     Wanda Khalishah     1
14  191402078   Katherin Anna Patherisia Lesnussa     1
15  191402086                              Felipe     1
16  191402089                           Christina     1
17  191402094                            Franklin     1
18  191402097                      Iqbal Fakhriza     1
19  191402100              Erikson Andre Sumangap     1
20  191402109       Aulia Rahman Partomuan Sihite     1
21  191402112         Andi Farras Thariq Hasibuan     1
22  191402122                             Vincent     1
23  191402127                        Windy Artika     1
24  191402130                 Rizky Alwi Sebayang     1
25  191402134         Yohana M Beatrice Panjaitan     1
26  191402142                        Devi Aprilia     1

In [5]:
# Filter Data Praktikan Trip 2
df[df['Trip']==2]

          NIM                                 Nama  Trip
27  191402027                         Jefry Lianto     2
28  191402030                  Annisa Putri Daulay     2
29  191402031                  Amatul Noor Damanik     2
30  191402053               Meily Benedicta Harefa     2
31  191402066                     Mhd. Arsya Fikri     2
32  191402070                      Andrea Vicalina     2
33  191402072                        Hendry Winata     2
34  191402077                      Brian Tarihoran     2
35  191402079              Bobby Berkat Ezra Zebua     2
36  191402080               Sarah Theodora Sinurat     2
37  191402081                       Vincent Sirait     2
38  191402082                       Monang Limbong     2
39  191402084                   Timothy Agalliasis     2
40  191402091         Brian Christopel Simanjuntak     2
41  191402092            Samuel Parlindungan Malau     2
42  191402095     Tomy Risky Parlindungan Tambunan     2
43  191402096            Yesaya Alehandro Silalahi     2
44  191402102            Sity Fadia Al Haya Maswin     2
45  191402113            Sebastian Belmero Sitorus     2
46  191402114             Dolok Marsaong Asi Malau     2
47  191402117  Christopher Miando Imanuel Manurung     2
48  191402126       Ricky Martin Abdi Negara Purba     2
49  191402128              Jhuan Avryganda Sitorus     2
50  191402133       Gideon Christ Gilberio Ginting     2
51  191402136        Grace Patricia Marito Siregar     2
52  191402140                     Daniel Situmeang     2

### OUTLINES
<ol>
    <li>Intro & Kontrak Kuliah</li>
    <li>Review Basic ML & ML Pipelines</li>
    <li>Introduction to NLP & CV + Data Collection</li>
    <li>Preprocessing NLP</li>
    <li>Preprocessing CV</li>
    <li>Model Building</li>
    <li>Testing & Evaluation</li>
    <li>Quiz Teori + Ujian Praktek</li>
    <li>Penggunaan Flask</li>
    <li>Penggunaan Flask</li>
    <li>Closing</li>
</ol>

### LIBRARIES YANG DIGUNAKAN
<ul>
    <li>Flask</li>
    <li>Numpy</li>
    <li>Pandas</li>
    <li>Seaborn</li>
    <li>Sklearn</li>
    <li>Natural Language Toolkit (NLTK)</li>
    <li>Sastrawi</li>
    <li>Tensorflow</li>
    <li>Keras</li>
    <li>Matplotlib</li>
    <li>dll.</li>
</ul>

pip install flask
pip install numpy
pip install pandas
pip install seaborn
pip install sklearn
pip install nltk
pip install sastrawi
pip install keras
pip install tensorflow

### TIMELINE TUGAS AKHIR (Machine Learning)
<ol>
    <li>Belajar ML dasar</li>
    <li>Belajar & Pahami NLP/CV/topik khusus</li>
    <li>Coba ikutin project NLP/CV/topik khusus</li>
    <ol type="a">
        <li>Butuh sumber data</li>
        <li>Butuh algoritma (bebas)</li>
        <li>Preprocessing</li>
        <li>Eksekusi algoritma (belajar pake library)</li>
        <li>Menghitung akurasi </li>
    </ol>
    <li>Cari algoritma (spesifik)</li>
    <li>Buat Eksum</li>
    <li>Bimbingan</li>
    <li>Submit Eksum</li>
    <li>Buat Proposal</li>
    <li>Revisi</li>
    <li>Submit Proposal</li>
    <li>SEMPRO</li>
    <li>Coding di Jupyter + Ngetik Skripsi Bab 1-3</li>
    <li>Bimbingan</li>
    <li>Revisi</li>
    <li>Coding di Flask (Deployment) + Ngetik Skripsi Bab 4-5</li>
    <li>Bimbingan</li>
    <li>Revisi</li>
    <li>Submit Skripsi untuk Semhas</li>
    <li>SEMHAS</li>
    <li>Bimbingan</li>
    <li>Revisi</li>
    <li>Submit Skripsi untuk Sidang</li>
    <li>Fokus Belajar & Pahami Isi Skripsi</li>
    <li>SIDANG</li>
    <li>Revisi (jika perlu)</li>
    <li>Persiapan Berkas Wisuda</li>
    <li>WISUDA</li>
</ol>